/segundoTrimestre/nbproject/private/
/segundoTrimestre/build/
/learningTesting/nbproject/private/
/learningTesting/build/
/SimulacionFebrero/build/
/ej19u3BBDD/build/
/ej19u3BBDD/nbproject/private/
/compositionVSagreggation/build/
/compositionVSagreggation/nbproject/private/
