/segundoTrimestre/nbproject/private/
/segundoTrimestre/build/
/learningTesting/nbproject/private/
/learningTesting/build/
/SimulacionFebrero/build/
/ej19u3BBDD/build/
/ej19u3BBDD/nbproject/private/
/compositionVSagreggation/build/
/compositionVSagreggation/nbproject/private/
/recWebRepaso/nbproject/private/
/recWebRepaso/build/
/pruebasConexionBDD/nbproject/private/
/pruebasConexionBDD/build/
/tratamientoDeFicheros/nbproject/private/
/tratamientoDeFicheros/build/
